.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    align-items: center;
    background-color: rgb(244, 241, 241);

}
.link a{
    text-decoration: none;
    padding: 0px 20px;
}
.active {
    background-color: aqua;
}
#nav{
    margin: 0;
    padding: 0;
    outline: 0;
}
@media screen and (max-width: 688px){
.header{
        width: 95%;
        padding: 0px 10px;
    }
.link a {
            padding: 0px 10px;
}
.header h2{
    font-size: 20px;
}
}
