.question{
    text-align: center;
    margin: 0 auto;
    border: 1px solid skyblue;
    width: 40%;
    margin-top: 20px;
    border-radius: 10px;
    padding: 15px;
}

.icon:hover{
    color: rgb(247, 33, 68);
}
.questionIcon{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 688px){
    .question{
        width: 90%;
    }
}